* {
	font-family: 'Noto Sans KR', sans-serif !important;
	font-weight: 400;
}


/* 날짜 표시 타이틀 */



.sort_area .date_view .date {
	display: inline-grid;
    margin: 6px 10px 0 0;
    font-weight: bold;
    font-size: 24px;
    color: #333;

    &:after {
        font-size: 10.5px;
        font-weight: 500;
        letter-spacing: -0.3px;
        content: "Designed By 청명 (@cheong_myeong__)";
        color: steelblue;
        line-height: 1px;
        cursor: pointer;
    }
}


/* 필터 테이블 위치 수정 */

#content_top > div.sort_area > div.view_type_area > div.view_type.team_view_type {
    left: 720px;

    
    /*

    날짜 필터

    */
    
    button {
        background-color: white;

        &._day.diary {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            width: 85px;
            font-family: Noto Sans KR;
            font-weight: 700; 
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            letter-spacing: 0.3px;
        }

        &._week, button._month, button._list {
            width: 80px;
            font-family: Noto Sans KR;
            font-weight: 700;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            letter-spacing: 0.3px;
        }

        &._user {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            width: 85px;
            font-family: Noto Sans KR;
            font-weight: 700; 
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            letter-spacing: 0.3px;
        }

        &.custom_layer {
            position: relative;
            right: 16px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }

        &:focus {
            outline: none;
        }
    }
}


/*  상단 테이블 월~일  */

div.monthly_calendar > table.week {
	border-bottom: none; 
    background: white; 
    
    th {
        text-align: center;
    }
}

/*

  일정 부분

*/

.monthly_calendar .schedule {
	border-radius: 100px;
    padding: 2px 5px;
    
    a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}
